.signup{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 1rem;
    padding: 1rem 0;
}

.signup a {
    color: aqua;
    text-decoration: none;
    padding: 0.6rem;
}

.signup p {
    margin-top: 1rem;
}