.wrapper {
    margin:auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: min-content;
    color: white;
    background-color: #282c34;
    border-radius: 1rem;
}